main {
  font-family: 'Vollkorn', serif;
  width: 750px;
  background-color: rgb(231, 233, 186);
  text-transform: uppercase;
}

section {
  margin: 40px;
}

.block_a {
  padding-top: 80px;
}

img {
  width:120px;
  padding: 20px;
  margin: 0px;
}

h1 {
  color: rgb(177, 33, 14);
  position: relative;
  margin-left: 100px;
  width: 80%;
  font-size: 40px;
  letter-spacing: 0.25em;
  line-height: .5em;
}

h2 {
  width: 80%;
  margin-left: 100px;
  font-size: 18px;
  letter-spacing: 0.35em;
  color: #504a4a;
}

h3 {
  width: 60%;
  margin-left: 190px;
  letter-spacing: 0.35em;
  color: #1f1a1a;
  font-size: 30px;
  padding-bottom: 90px;
}

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: #1b5257;
  margin: 40 80;
}

a {
  color: #77d4df;
}

